
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Cherry+Bomb+One&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(95, 88, 88);
}
nav ul{
    height: 10vh;
    color: white;
    display: flex;
    list-style-type: none;
    padding: 0 13px;
    font-size: 1rem;
    align-items: center;   
}
nav ul li{
    padding: 0 13px;
}
.navimg img{
    height: 54px;
}

.gamecontainer{
    background-color: rgb(207, 200, 195);
    justify-content: center;
    display:flex;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw) ;
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto Condensed', sans-serif;
}
.gameinfo{
    font-size: 20px;
}

.box{
    border: solid black;
    cursor: pointer;
    font-size: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.box:hover{
    background-color: rgb(112, 112, 110);
}
.gameinfo{
    font-family:'Cherry Bomb One', 'Baloo Bhaina 2', cursive;
    padding: 0 13vw;
    cursor: pointer;   
}
.imgif img{
    width: 0;
    transition: width 1s ease-in;
}

/* utiliy class */
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#result{
    margin: 0px 24px;
    padding: 3px 20px;
    border-radius: 9px;
    background: #c5b6c5;
     color: black;
     font-family:'Cherry Bomb One', 'Baloo Bhaina 2', cursive;
     /* font-family: 'Cherry Bomb One'; */
     /* cursor: pointer; */
}
@media screen and (max-width: 530px) {
    .gamecontainer {
        flex-wrap: wrap;
      background-color: rgb(203, 161, 231);
      padding-bottom: 40px;
    }
    .container {
        display: grid;
        grid-template-rows: repeat(3,19vw);
        grid-template-columns: repeat(3,19vw);
        font-family: 'Roboto Condensed', sans-serif;
    }
     .info{
        margin-top: 20px;
    }
    .gameinfo{
        margin-top: 35px;
    }
    .imgif{
        margin-top: 50px;
    }
  }





